@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  min-height: 100vh;
  background-color: #343f4f;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.wrapper i {
  position: absolute;
  height: 46px;
  width: 46px;
  font-size: 1.2rem;
  line-height: 46px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.wrapper i:first-child {
  left: 0;
  transform: translateX(-50%);
}

.wrapper i:last-child {
  right: 0;
  transform: translateX(50%);
}

.wrapper .carousel {
  display: flex;
  column-gap: 14px;
  overflow: hidden;
  cursor: pointer;
}

.carousel img {
  height: 340px;
  width: calc(100% / 3);
  object-fit: cover;
  flex: 1 0 auto;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}
